<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:field="urn:jsptagdir:/WEB-INF/tags/form/fields" xmlns:form="urn:jsptagdir:/WEB-INF/tags/form" xmlns:jsp="http://java.sun.com/JSP/Page" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <form:update id="fu_com_sli_roadmap_Risk" modelAttribute="risk" path="/risks" versionField="Version" z="px4R1ObDd7I2aMBVh/sKubGGWBQ=">
        <field:input field="riskName" id="c_com_sli_roadmap_Risk_riskName" z="D2vHHosQtdjlCvuQm0VC9vpEeAU="/>
        <field:input field="mitigatedBy" id="c_com_sli_roadmap_Risk_mitigatedBy" z="8bR52A6AhLtdo+cOrnbL1Eq6wUs="/>
        <field:textarea field="description" id="c_com_sli_roadmap_Risk_description" z="xiBVQ3afyA5A4N5KYAV/hmiZDNw="/>
        <field:datetime dateTimePattern="${risk_effectivedate_date_format}" field="effectiveDate" id="c_com_sli_roadmap_Risk_effectiveDate" z="cdinH/H9gGwY1pDGUv9+dB5nkEA="/>
        <field:select field="application" id="c_com_sli_roadmap_Risk_application" itemValue="id" items="${applications}" path="/applications" z="YqmLx4cQCjAuoBHHmk5ytTmAgJo="/>
    </form:update>
</div>
